<div class="row">
    <div class="col-12">
        <hr />
        <div class="Sec-subTitle">Empresa</div>
        <hr />
    </div>
</div>


<div class="row">
    <div class="col-4">
        <app-mas-input-text #nombreAdd type="text" maxlength="50" (cambioValor)="empresa.Nombre = $event" label="Empresa" [textInput]="empresa.Nombre" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #razonAdd type="text" maxlength="50" (cambioValor)="empresa.RazonSocial = $event" label="Razon" [textInput]="empresa.RazonSocial" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-3">
        <app-mas-input-text [uppercase]="true" #rfcAdd type="text" maxlength="50" (cambioValor)="empresa.RFC = $event" label="RFC" [textInput]="empresa.RFC" validate="alphanumericNoSpace"></app-mas-input-text>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <app-mas-input-text type="text" maxlength="50" (cambioValor)="empresa.Estado = $event" label="Estado" [textInput]="empresa.Estado" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text type="text" maxlength="50" (cambioValor)="empresa.Municipio = $event" label="Municipio" [textInput]="empresa.Municipio" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text type="text" maxlength="50" (cambioValor)="empresa.Colonia = $event" label="Colonia" [textInput]="empresa.Colonia" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <app-mas-input-text #calleAdd type="text" maxlength="50" (cambioValor)="empresa.Calle = $event" label="Calle" [textInput]="empresa.Calle" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #numerointeriorAdd type="text" maxlength="50" (cambioValor)="empresa.NumInt = $event" label="Numero Interior" [textInput]="empresa.NumInt" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #numeroexteriorAdd type="text" maxlength="50" (cambioValor)="empresa.NumExt = $event" label="Numero Exterior" [textInput]="empresa.NumExt" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <app-mas-input-text #cpAdd type="text" maxlength="50" (cambioValor)="empresa.CP = $event" label="CP" [textInput]="empresa.CP" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #telefonoAdd type="text" maxlength="50" (cambioValor)="empresa.TelEmpresa = $event" label="Telefono" [textInput]="empresa.TelEmpresa" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #cuentaAdd type="text" maxlength="50" (cambioValor)="empresa.Cuenta = $event" label="Cuenta" [textInput]="empresa.Cuenta" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <app-mas-input-text #referenciaAdd type="text" maxlength="50" (cambioValor)="empresa.Referencia = $event" label="Referencia" [textInput]="empresa.Referencia" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <hr />
        <div class="Sec-subTitle">Representante Legal</div>
        <hr />
    </div>
</div>


<div class="row">
    <div class="col-4">
        <app-mas-input-text type="text" maxlength="50" (cambioValor)="empresa.PrimerNombreRL = $event" label="Nombre" [textInput]="empresa.PrimerNombreRL" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text type="text" maxlength="50" (cambioValor)="empresa.ApellidoPaternoRL = $event" label="Apellido Paterno" [textInput]="empresa.ApellidoPaternoRL" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text type="text" maxlength="50" (cambioValor)="empresa.ApellidoMaternoRL = $event" label="Apellido Materno" [textInput]="empresa.ApellidoMaternoRL" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <app-mas-input-text type="text" maxlength="50" (cambioValor)="empresa.RFCRL = $event" label="RFC" [textInput]="empresa.RFCRL" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text type="date" (cambioValor)="empresa.FechaNacimientoRL = $event" label="Fecha de Nacimiento"></app-mas-input-text>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <hr />
        <div class="Sec-subTitle">Contacto</div>
        <hr />
    </div>
</div>


<div class="row">
    <div class="col-4">
        <app-mas-input-text #nombreAdd type="text" maxlength="50" (cambioValor)="empresa.PrimerNombreRep = $event" label="Nombre" [textInput]="empresa.PrimerNombreRep" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #paternoAdd type="text" maxlength="50" (cambioValor)="empresa.ApellidoPaternoRep = $event" label="Apellido Paterno" [textInput]="empresa.ApellidoPaternoRep" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #maternoAdd type="text" maxlength="50" (cambioValor)="empresa.ApellidoMaternoRep = $event" label="Apellido Materno" [textInput]="empresa.ApellidoMaternoRep" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <app-mas-input-text #puestoAdd type="text" maxlength="50" (cambioValor)="empresa.PuestoRep = $event" label="Puesto" [textInput]="empresa.PuestoRep" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-2">
        <app-mas-input-text #extAdd type="text" maxlength="50" (cambioValor)="empresa.ExtRep = $event" label="Ext." [textInput]="empresa.ExtRep" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #correoAdd type="text" maxlength="50" (cambioValor)="empresa.CorreoRep = $event" label="Correo" [textInput]="empresa.CorreoRep" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <app-mas-input-text #telefonoOficinaAdd type="text" maxlength="50" (cambioValor)="empresa.TelRep = $event" label="Telefono Oficina" [textInput]="empresa.TelRep" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #telefonoCelularAdd type="text" maxlength="50" (cambioValor)="empresa.CelRep = $event" label="Telefono Celular" [textInput]="empresa.CelRep" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <hr />
        <div class="Sec-subTitle">Politicas</div>
        <hr />
    </div>
</div>

<div class="row">
    <label style="color:#385dae;margin-left:1%;">Aviso de corte (Dias de anticipación de corte de nomina)</label>
</div>

<div class="row">
    <div class="col-4">
        <app-mas-input-text #semanalAdd type="text" maxlength="50" (cambioValor)="empresa.DiasAntCorteSemana = $event" label="Semanal" [textInput]="empresa.DiasAntCorteSemana" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #catorcenalAdd type="text" maxlength="50" (cambioValor)="empresa.DiasAntCorteCatorce = $event" label="Catorcenal" [textInput]="empresa.DiasAntCorteCatorce" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <app-mas-input-text #QuincenalAdd type="text" maxlength="50" (cambioValor)="empresa.DiasAntCorteQuincena = $event" label="Quincenal" [textInput]="empresa.DiasAntCorteQuincena" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text type="text" maxlength="50" (cambioValor)="empresa.DiasAntCorteMes = $event" label="Mensual" [textInput]="empresa.DiasAntCorteMes" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>

<div class="row">
    <div class="col-10">
    </div>
    <div class="col-2" style="margin-top:2%">
        <button class="blue-btn-icon btn-primary" type="button" (click)="Guardar()">
      Guardar
    </button>
    </div>
</div>
<br>