<div class="row">
  <div class="col-10">
    <div class="Sec-subTitle">Modificación Empleado</div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <app-input-select #empresaAddDDL (valueChanged)="onEmpresaChanged($event)" title="Seleccionar Empresa" optionValue="Id_Empresa" valueShow="Empresa" label="Empresa" [inputSelect]="selectValE"></app-input-select>
  </div>
  <div class="col-4">
    <app-mas-input-text #razonAdd type="text" maxlength="50" (cambioValor)="empresa.RazonSocial = $event" label="Razon" [textInput]="empresa.RazonSocial" validate="alphanumeric"></app-mas-input-text>
  </div>
  <div class="col-3">
    <app-mas-input-text #rfcAdd type="text" maxlength="50" (cambioValor)="empresa.RFC = $event" label="RFC" [textInput]="empresa.RCF" validate="alphanumeric"></app-mas-input-text>
  </div>
</div>


<div class="row">
  <div class="col-10">
    <label style="color:#385dae;">Importar Archivo</label>
  </div>
  <div class="col-6">
    <app-input-file #inputFile (fileTextChanged)="empleado.CargaMasiva = $event" accept=".csv"></app-input-file>
  </div>
</div>

