<div class="navbar navbar-expand-md  mb-4" role="navigation">
    <a class="navbar-brand " href="#">
        <img src="../../../assets/images/logo.svg" class="img-responsive" style="width: 6vw;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    <div style="width: 100%">
        <div class="nb-list-1" style="width: 100%">
            <div class="nb-title">Medios Electrónicos</div>
            <ul class="nav navbar-nav nb-close">
                <li class="dropdown">
                    <div class="dropdown-toggle" data-toggle="dropdown" style="width: 130px; display: inline-block;">
                        <i class="glyphicon glyphicon-user"></i>
                        <div id="Ft_Usr" style="display: inline-block;">{{userName}}</div>
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            <a id="nb-close" (click)="_usuarioService.logout()">Cerrar Sesión
                                <span class="glyphicon glyphicon-log-out pull-right"></span>
                            </a>
                        </li>
                        <span class="divider"></span>
                        <li>
                            <a id="CambiaContraseña" (click)="onChangePassword()">Cambiar Contraseña
                                <span class=""></span>
                            </a>
                        </li>
                        <span class="divider"></span>
                        <li>
                            <i style="color:#c1c1c1;">Último Acceso: 
                                <span id="ft_Day"> {{ultimoAcceso}}</span>
                            </i>
                        </li>
                        <li>
                            <i style="color:#c1c1c1;">Versión :
                                <span id=""> v1.0 </span>
                            </i>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse navBarMenu" id="navbarCollapse">
            <ul class="navbar-nav mr-auto" *ngIf="isAdmin">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Empresas</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown2">
                        <li class="dropdown-item" routerLink="/consulta-empresa"><a>Consulta</a></li>
                        <li class="dropdown-item" routerLink="/empresa"><a>Alta</a></li>
                        <li class="dropdown-item" routerLink="/baja-empresa"><a>Baja</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Empleados</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown2">
                        <li class="dropdown-item" routerLink="/consulta-empleado"><a>Consulta</a></li>
                        <li class="dropdown-item" routerLink="/alta-empleado"><a>Alta</a></li>
                        <li class="dropdown-item" routerLink="/baja-empleado"><a>Baja</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Plasticos</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown2">
                        <li class="dropdown-item" routerLink="/alta-plastico"><a>Alta</a></li>
                        <li class="dropdown-item" routerLink="/asignacion-masiva-plastico"><a>Asignación</a></li>
                        <li class="dropdown-item" routerLink="/asignacion-plastico"><a>Reasignación</a></li>
                        <li class="dropdown-item" routerLink="/cambio-estatus-plastico"><a>Cambio de Estatus</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuarios</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown2">
                        <li class="dropdown-item" routerLink="/consulta-usuario"><a>Consulta</a></li>
                        <li class="dropdown-item" routerLink="/baja-usuario"><a>Baja</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="changePassModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePassModalLabel" style='color: #385dae; width: 100%;font-size: 5vh; font-family: "Altivo_Bold"; display: block;text-align: center;'>Cambiar Contraseña </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm" (ngSubmit)="onChangePasswordSubmit()">
                    <div class="row">
                        <div class="col-12" style="text-align: center;">
                            <div class="input-p form-group">
                                <label>Contraseña Anterior</label>
                                <input [(ngModel)]="this.oldPass" id="oldPass" name="oldPass" autocomplete="off" type="password" class="isPass form-control" maxlength="10">
                                <div class="input-group-append" style="display: inline-block;">
                                    <button (click)="onTogglePassword($event, 'oldPass')" type="button" class="flaticon-visibility-button togglePassword"></button>
                                </div>
                            </div>
                            <div class="input-p form-group">
                                <label>Contraseña Nueva</label>
                                <input [(ngModel)]="this.newPass" id="newPass" name="newPass" autocomplete="off" type="password" class="isPass form-control" maxlength="10">
                                <div class="input-group-append" style="display: inline-block;">
                                    <button (click)="onTogglePassword($event, 'newPass')" type="button" class="flaticon-visibility-button togglePassword"></button>
                                </div>
                            </div>
                            <div class="input-p form-group">
                                <label>Confirma Contraseña Nueva</label>
                                <input [(ngModel)]="this.newPassConfirm" id="newPassConfirm" name="newPassConfirm" autocomplete="off" type="password" class="isPass form-control" maxlength="10">
                                <div class="input-group-append" style="display: inline-block;">
                                    <button (click)="onTogglePassword($event, 'newPassConfirm')" type="button" class="flaticon-visibility-button togglePassword"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btnModal btn-primary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btnModal btn-primary">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>