<div #editModal class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Usuario: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm" (ngSubmit)="onUpdateUser(usuario)">
                    <div class="row">
                        <div class="col-6">
                            <app-mas-input-text #nombreEdit [disabled]='true' type="text" maxlength="40" (cambioValor)="usuario.Nombre = $event" label="Usuario" [textInput]="usuario.Nombre" validate="alphanumericNoSpace"></app-mas-input-text>
                        </div>
                        <div class="col-6">
                            <app-input-select #rolEditDDL (valueChanged)="usuario.Rol_Id = $event" title="Seleccionar Rol" optionValue="Id_Rol" valueShow="NombreRol" label="Rol" [inputSelect]="usuario.Rol_Id"></app-input-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <app-mas-input-text #correoEdit type="email" maxlength="180" (cambioValor)="usuario.Correo = $event" label="Correo" [textInput]="usuario.Correo" validate="email"></app-mas-input-text>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <app-mas-input-text #aliasEdit type="text" maxlength="40" (cambioValor)="usuario.Alias = $event" label="Nombre" [textInput]="usuario.Alias" validate="alphanumeric"></app-mas-input-text>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btnModal btn-primary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btnModal btn-primary">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div #addModal class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Agregar Usuario </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onCreateUser(usuario)">
                    <div class="row">
                        <div class="col-6">
                            <app-mas-input-text #nombreAdd [required]="true" type="text" maxlength="40" (cambioValor)="usuario.Nombre = $event" label="Usuario" [textInput]="usuario.Nombre" validate="alphanumericNoSpace"></app-mas-input-text>
                        </div>
                        <div class="col-6">
                            <app-input-select #rolAddDDL [required]="true" (valueChanged)="usuario.Rol_Id = $event" title="Seleccionar Rol" optionValue="Id_Rol" valueShow="NombreRol" label="Rol" [inputSelect]="usuario.Rol_Id"></app-input-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <app-mas-input-text #correoAdd [required]="true" type="email" maxlength="180" (cambioValor)="usuario.Correo = $event" label="Correo" [textInput]="usuario.Correo" validate="email"></app-mas-input-text>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <app-mas-input-text #aliasAdd [required]="true" type="text" maxlength="40" (cambioValor)="usuario.Alias = $event" label="Nombre" [textInput]="usuario.Alias" validate="alphanumeric"></app-mas-input-text>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btnModal btn-primary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btnModal btn-primary">Agregar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <div class="sec-title">Consulta de Usuarios</div>
    </div>
    <div class="col-4">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-6"></div>
            <div class="col-6">
                <button class="blue-btn-icon btn-primary" type="button" (click)="onAddModalOpen()">
                  <i class="fas fa-plus-circle"></i> Agregar
              </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div style="width: 100%; height: 275px">
            <app-grid #userGrid [rowData]="usuarios" [columnDefs]="columnDefs"></app-grid>
        </div>
    </div>
</div>