<div #addModal class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Agregar Visitas </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <form ngNativeValidate #addForm="ngForm">
                    <div class="row">
                        <div class="col-12">
                            <app-input-select #visitTypeDDL (valueChanged)="cargaMasiva.TipoVisita_Id = $event" title="Seleccionar Tipo de Visita" optionValue="Id_TipoVisita" valueShow="TipoVisita" label="Tipo de Visita" [inputSelect]="cargaMasiva.TipoVisita_Id"></app-input-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <app-input-file #inputFile (fileTextChanged)="cargaMasiva.Contenido = $event" accept=".csv"></app-input-file>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btnModal btn-primary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btnModal btn-primary" (click)="onAddVisits()">Agregar</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <div class="sec-title">Supervisión de Visitas</div>
    </div>
    <div class="col-4">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-6">
                <button class="blue-btn-icon btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-search"></i> Filtros
                </button>
            </div>
            <div class="col-6">
                <button class="blue-btn-icon btn-primary" type="button" (click)="openModalVisits()">
                            <i class="fas fa-plus-circle"></i> Agregar
                    </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="collapse" id="collapseExample">
            <br>
            <form #filterForm="ngForm">
                <div class="row">
                    <div class="col-3">
                        <app-mas-input-text type="date" (cambioValor)="filtros.FechaInicioVisitaCreada = $event" label="Inicio - Visita Creada"></app-mas-input-text>
                    </div>
                    <div class="col-3">
                        <app-mas-input-text type="date" (cambioValor)="filtros.FechaFinVisitaCreada = $event" label="Fin - Visita Creada"></app-mas-input-text>
                    </div>
                    <div class="col-3">
                        <app-mas-input-text type="date" (cambioValor)="filtros.FechaInicioVisitaConcluida = $event" label="Inicio - Visita Concluida"></app-mas-input-text>
                    </div>
                    <div class="col-3">
                        <app-mas-input-text type="date" (cambioValor)="filtros.FechaFinVisitaConcluida = $event" label="Fin - Visita Concluida"></app-mas-input-text>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <app-input-select #usersDDL (valueChanged)="filtros.Id_Usuario = $event" title="Seleccionar Agente" optionValue="Id_Usuario" valueShow="Nombre" label="Agente" [inputSelect]="filtros.Id_Usuario"></app-input-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <button class="blue-btn-icon btn-primary" type="button" (click)="onFilter()">
                            <i class="fas fa-search"></i>  Buscar
                        </button>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div style="width: 100%; height: 275px">
            <app-grid #gridVisit [rowData]="rowData" [columnDefs]="columnDefs"></app-grid>
        </div>
    </div>
</div>