<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h4 class="card-title  text-center">Activar Tarjeta</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 h-100"></div>
                    <div class="col-4 h-100">
                        <i style="width: 100%; height: 20%" class="iconCard fab fa-cc-visa"></i>
                    </div>
                    <div class="col-4 h-100"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h4 class="card-title  text-center">Bloquear Tarjeta</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 h-100"></div>
                    <div class="col-4 h-100">
                        <i style="width: 100%; height: 20%" class="iconCard fas fa-ban"></i>
                    </div>
                    <div class="col-4 h-100"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h4 class="card-title  text-center">Consulta</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 h-100"></div>
                    <div class="col-4 h-100">
                        <i style="width: 100%; height: 20%" class="iconCard fas fa-search"></i>
                    </div>
                    <div class="col-4 h-100"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h4 class="card-title  text-center">Cambio NIP</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 h-100"></div>
                    <div class="col-4 h-100">
                        <i style="width: 100%; height: 20%" class="iconCard fas fa-key"></i>
                    </div>
                    <div class="col-4 h-100"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h4 class="card-title  text-center">Reposiciones</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 h-100"></div>
                    <div class="col-4 h-100">
                        <i style="width: 100%; height: 20%" class="iconCard fas fa-credit-card"></i>
                    </div>
                    <div class="col-4 h-100"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h4 class="card-title  text-center">FAQ</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 h-100"></div>
                    <div class="col-4 h-100">
                        <i style="width: 100%; height: 20%" class="iconCard fas fa-question-circle"></i>
                    </div>
                    <div class="col-4 h-100"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h4 class="card-title  text-center">Aclaraciones</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 h-100"></div>
                    <div class="col-4 h-100">
                        <i style="width: 100%; height: 20%" class="iconCard fas fa-exclamation-circle"></i>
                    </div>
                    <div class="col-4 h-100"></div>
                </div>
            </div>
        </div>
    </div>
</div>