<div class="row">
    <div class="col-12">
        <hr />
        <div class="Sec-subTitle">Empresa</div>
        <hr />
    </div>
</div>


<div class="row">
    <div class="col-4">
        <app-mas-input-text #nombreAdd type="text" maxlength="50" (cambioValor)="empresa.Nombre = $event" label="Empresa" [textInput]="empresa.Nombre" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #razonAdd type="text" maxlength="50" (cambioValor)="empresa.RazonSocial = $event" label="Razon" [textInput]="empresa.RazonSocial" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-3">
        <app-mas-input-text #rfcAdd type="text" maxlength="50" (cambioValor)="empresa.RFC = $event" label="RFC" [textInput]="empresa.RCF" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <app-mas-input-text type="text" maxlength="50" (cambioValor)="empresa.Estado = $event" label="Estado" [textInput]="empresa.Estado" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text type="text" maxlength="50" (cambioValor)="empresa.Municipio = $event" label="Municipio" [textInput]="empresa.Municipio" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text type="text" maxlength="50" (cambioValor)="empresa.Colonia = $event" label="Colonia" [textInput]="empresa.Colonia" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <app-mas-input-text #calleAdd type="text" maxlength="50" (cambioValor)="empresa.Calle = $event" label="Calle" [textInput]="empresa.Calle" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #numerointeriorAdd type="text" maxlength="50" (cambioValor)="empresa.NumeroInterior = $event" label="Numero Interior" [textInput]="empresa.NumeroInterior" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #numeroexteriorAdd type="text" maxlength="50" (cambioValor)="empresa.NumeroExterior = $event" label="Numero Exterior" [textInput]="empresa.NumeroExterior" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <app-mas-input-text #cpAdd type="text" maxlength="50" (cambioValor)="empresa.CP = $event" label="CP" [textInput]="empresa.CP" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #telefonoAdd type="text" maxlength="50" (cambioValor)="empresa.Telefono = $event" label="Telefono" [textInput]="empresa.Telefono" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #cuentaAdd type="text" maxlength="50" (cambioValor)="empresa.Cuenta = $event" label="Cuenta" [textInput]="empresa.Cuenta" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <app-mas-input-text #referenciaAdd type="text" maxlength="50" (cambioValor)="empresa.referencia = $event" label="Referencia" [textInput]="empresa.referencia" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr />
        <div class="Sec-subTitle">Contacto</div>
        <hr />
    </div>
</div>


<div class="row">
    <div class="col-4">
        <app-mas-input-text #nombreAdd type="text" maxlength="50" (cambioValor)="contacto.Nombre = $event" label="Nombre" [textInput]="contacto.Nombre" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #paternoAdd type="text" maxlength="50" (cambioValor)="contacto.ApellidoPaterno = $event" label="Apellido Paterno" [textInput]="contacto.ApellidoPaterno" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #maternoAdd type="text" maxlength="50" (cambioValor)="contacto.ApellidoMaterno = $event" label="Apellido Materno" [textInput]="contacto.ApellidoMaterno" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <app-mas-input-text #puestoAdd type="text" maxlength="50" (cambioValor)="contacto.Puesto = $event" label="Puesto" [textInput]="contacto.Puesto" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-2">
        <app-mas-input-text #extAdd type="text" maxlength="50" (cambioValor)="contacto.Extension = $event" label="Ext." [textInput]="contacto.Extension" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #correoAdd type="text" maxlength="50" (cambioValor)="contacto.Correo = $event" label="Correo" [textInput]="contacto.Correo" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <app-mas-input-text #telefonoOficinaAdd type="text" maxlength="50" (cambioValor)="contacto.TelefonoOficina = $event" label="Telefono Oficina" [textInput]="contacto.TelefonoOficina" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #telefonoCelularAdd type="text" maxlength="50" (cambioValor)="contacto.TelefonoCelular = $event" label="Telefono Celular" [textInput]="contacto.TelefonoCelular" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <hr />
        <div class="Sec-subTitle">Politicas</div>
        <hr />
    </div>
</div>

<div class="row">
    <label style="color:#385dae;margin-left:1%;">Aviso de corte (Dias de anticipación de corte de nomina)</label>
</div>

<div class="row">
    <div class="col-4">
        <app-mas-input-text #semanalAdd type="text" maxlength="50" (cambioValor)="empresa.Semanal = $event" label="Semanal" [textInput]="empresa.Semanal" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text #catorcenalAdd type="text" maxlength="50" (cambioValor)="empresa.Catorcenal = $event" label="Catorcenal" [textInput]="empresa.Catorcenal" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <app-mas-input-text #QuincenalAdd type="text" maxlength="50" (cambioValor)="empresa.Quincenal = $event" label="Quincenal" [textInput]="empresa.Quincenal" validate="alphanumeric"></app-mas-input-text>
    </div>
    <div class="col-4">
        <app-mas-input-text type="text" maxlength="50" (cambioValor)="empresa.Mensual = $event" label="Mensual" [textInput]="empresa.Mensual" validate="alphanumeric"></app-mas-input-text>
    </div>
</div>

<div class="row">
    <div class="col-10">
    </div>
    <div class="col-2" style="margin-top:2%">
        <button class="blue-btn-icon btn-primary" type="button" (click)="Guardar()">
    Guardar
  </button>
    </div>
</div>
<br>